<div id="<%= dom_id preparation %>">
	<p><%= preparation_dish_name(preparation) %></p>
	<p><strong>Date Cooked:</strong> <%= preparation.date_cooked %></p>
	<p><strong>Backstory:</strong> <%= preparation.backstory %></p>
	<p><strong>Recipe:</strong> <%= preparation.recipe_long_form %></p>
</div>
